#!/bin/bash

sudo apt-get update
sudo apt-get install -y python3-pip git

git clone https://github.com/viniciusmm7/cloud-locust-python
sudo chown -R ubuntu ~/cloud-locust-python
cd cloud-locust-python/

export API_ENDPOINT=${lb_endpoint}

pip install -r requirements.txt

locust -f main.py